@model FinalProject.Models.CalculatorModel
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loan Calculator</title>
</head>
<body>
    <h1>Calculator</h1>
    <form asp-action="Index" method="post">
        <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="MonthlyInvestment">Monthly Investment</label>
        <input asp-for="MonthlyInvestment" />
    </div>
    <div>
        <label asp-for="YearlyInterestRate">Yearly Interest Rate</label>
        <input asp-for="YearlyInterestRate" />
    </div>
    <div>
        <label asp-for="Years">Number of years</label>
        <input asp-for="Years" />
    </div>
    <div>
        <label>Future Value: </label>
        <input value="@ViewBag.FV.ToString("C2")" readonly />
    </div>
        <button type="submit">Calculate</button>
        <a asp-action="Index">Clear</a>
    </form>

    <p>Test from viewbag: @ViewBag.Name</p>
    <p>Currency from Viewbag: @ViewBag.FV.ToString("C2")</p>
</body>
</html>
